.whole {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    overflow: hidden;
}

.sidebar {
    grid-column: 1 / 2;
}

.chat-component {
    grid-column: 2 / 3;
}

.message {
    padding: 1% 2%;
    display: grid;
    grid-template-columns: 52px 1fr;
    column-gap: 8px;
}

.user-pic {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
    margin-bottom: 3px;
}

span {
    color: aliceblue;
}

.chat-content {
    min-height: 100vh;
}

.messages {
    height: calc(100vh - 80px);
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: seashell dimgray;
    scrollbar-width: thin;
}

.send-component {
    height: 80px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-form {
    width: 98%;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.send-form input{
    height: 40%;
    flex: 1 0 0;
    padding: 0.5rem 0.8rem 0.5rem 0.3rem;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    color: aliceblue;
    font-size:medium;
}

.send-form button{
    border-color: #EEE;
    border-style: solid;
    border-radius: 5px;
    background-color: transparent;
    color: aliceblue;
}

.send-form button:hover{
    cursor: pointer;
    border-color: aquamarine;
}